<style type="text/css">
	.footer{
		min-height: 100px;
	}
</style>

<!-- Footer -->

<div class="d-flex flex-row align-items-center footer bg-white shadow-lg">
	<p class="m-auto">@copyright: <a href="https://www.linkedin.com/in/elius-mgani/?midToken=AQEoNj4FcWSFBg&midSig=1k5NKUmS4SXVY1&trk=eml-jobs_jymbii_digest-header-64-profile&trkEmail=eml-jobs_jymbii_digest-header-64-profile-null-93d44i%7Ekvcisvmy%7E99-null-neptune%2Fprofile%7Evanity%2Eview">
		eliusmgani</a> | 2022</p><br>
	<!--<p> All rights reserved..!! </p>-->
</div>
<!-- End Footer -->



